<div>
    {{#unless CONFIG}}
            <h1 class="title">CONFIG FILE NOT LOADED</h1>
    {{/unless}}
    {{#if CONFIG}}
    <h1 class="title">SERVER CONFIG</h1>
    <table class="product-table">
        <tr>
            <th>KEY</th>
            <th>VALUE</th>
        </tr>
    {{#each CONFIG}}
        <tr>
            <td>{{@key}}</td>
            <td>{{this}}</td>
        </tr>
    {{/each}}
    {{/if}}
    </table>
</div>

<style>
    table,
    th,
    td {
        border: 1px solid;
        text-align: center;
    }
    .product-table{
        width: 80%;
        margin: auto;
        background-color: white;
    }

    .title{
        text-align: center;
        font-size: 46px;
    }
    button{
        background-color: black;
        color: white;
        border-radius: 12px;
        padding: 12px;
        margin-top: 10px;
        margin-left: 46.5%;
    }

</style>