{{#if name}}
<div>	
	<h1>Welcome {{name}}!</h1>
</div>
{{/if}}
<img src={{avatar}}>
<div>
    <form action="uploadfile" enctype="multipart/form-data" method="POST">
        <input type="file" name="myFile">
        <input type="submit" value="Upload avatar">
    </form>
    <a href="/">BROWSE PRODUCTS AND CART</a>
</div>
<button id="button">logout</button>
<script>
    const button=document.getElementById('button')
    button.addEventListener('click',()=>{
    location.href='/logout'
})
</script>
